html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: #07dd00;
    font-size: 100px;
    font-style: italic;
    margin: 0%;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    margin: 20px;
}

article {
    padding: 5px;
    font-size: 20px;
}

footer {
    position: fixed;
    right: 0%;
    margin: 10px;
    padding: 0%;
    bottom: 0%;
    font-size: 25px;
}

#canvas_wrapper {
    position: relative;
    margin-top: 32px;
    left: 10%;
    width: 80%;
    height: auto;
}

#game_canvas {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 15px;
}

#content {
    margin-top: 50px;
    position: relative;
    left: 25%;
    width: 50%;
}

#score_content {
    position: relative;
    top: 10px;
    width: 80%;
    left: 10%;
}

#error_login {
    position: absolute;
    top: 120px;
    left: 35%;
    width: 30%;
    font-size: 18px;
    color: #7a0018;
    font-weight: 800;
}

#upper_left_button {
    position: absolute;
    left: 10px;
    top: 55px;
    font-size: 32px;
    transform: rotate(-35deg);
}

#upper_right_content {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 350px;
}

#register {
    position: relative;
    top: 5px;
}

#skinlink {
    position: relative;
    left: 50%;
    width: 50%;
    top: 0;
    margin-top: 15px;
}

#game_over_content {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    display: none;
}

#reg_errors {
    width: 100%;
}

#score {
    font-size: 32px;
}

#reset_game {
    position: relative;
    top: 40px;
}

#score_note {
    margin-top: 20px;
    padding: 3px;
    width: 500px;
    font-size: 22px;
}

#game_button_start {
    display: none;
    position: absolute;
    left: 35%;
    top: 40%;
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

#sumbit_score {
    margin-top: 10px;
}

#login_submit {
    width: 50%;
    left: 25%;
    position: relative;
}

#urc_login_text {
    font-size: 24px;
    font-style: italic;
    text-align: right;
}

#urc_logout {
    font-size: 16px;
    text-align: right;
}

#leaderboard_buttons {
    position: relative;
    width: 100%;
}

#reg_form_wrapper {
    font-size: 28px;
    margin: 25px;
}

#not_registered_text {
    font-size: 20px;
    margin: 20px;
}

#no_js_text {
    margin-top: 100px;
    margin-left: 30%;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: #7a0018;
}

#user_logged {
    display: none;
}

.reg_line {
    margin-bottom: 25px;
    line-height: 30px;
    font-size: 30px;
    width: 100%;
}

.text_box {
    position: absolute;
    left: 220px;
    font-size: 24px;
    width: 240px;
    height: 28px;
    border-radius: 7px;
}

.reg_error {
    position: relative;
    top: 15px;
    color: #7a0018;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.strong {
    font-weight: bold;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.active {
    text-decoration: underline !important;
    /* overwriting .simple_button */
}

.register_note {
    padding: 7px;
    font-size: 18px;
    position: relative;
    left: 10%;
}

.display_none {
    display: none;
}

.final_form_wrapper {
    position: absolute;
    left: 40%;
    top: 40%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
}

.leaderboard_block {
    position: static;
    width: 100%;
    margin-bottom: 38px;
    font-size: 25px;
}

.idx {
    display: inline;
    font-size: 28px;
    font-weight: 600;
}

.username {
    position: absolute;
    left: 10%;
    display: inline;
}

.count {
    position: absolute;
    left: 75%;
    font-size: 24px;
    display: inline;
}

.leaderboard_score {
    display: inline;
    position: absolute;
    left: 40%;
    font-weight: 600;
}

.note {
    position: absolute;
    left: 15%;
    font-size: 18px;
    font-style: italic;
}

.game_button_start {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    transition-duration: 0.4s;
    width: 300px;
}

.game_button_start:hover {
    cursor: pointer;
    font-size: 25px;
}

.simple_button {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 3px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 5px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
    text-align: center;
    margin: 0;
}

.simple_button:hover {
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
}

.simple_button:active {
    position: relative;
    top: 1px;
}

.button_size {
    font-size: 16px;
    position: relative;
    width: 32%;
    padding: 5px 0px;
}

.login_line {
    margin-bottom: 7px;
    width: 100%;
}

.login_line_right {
    position: absolute;
    left: 40%;
    width: 60%;
}